.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.test {
  font-size: 1.6rem !important;
  justify-content: center;
  display: flex;
  align-content: center;
}